@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
body{
  text-align:center;
  background-image:url(thanks.png);
  background-repeat:no-repeat;
  background-size:cover;
}
.title{
  font-family:"Lavishly Yours";
  text-align:center;
  font-size:100px;
  color: rgb(50, 100, 200);
  border: 3px solid;
  background-color: rgb(255, 0, 150);
  padding:5px;
  border-radius:40px;
}
.button{
  text-decoration:none;
  color:rgb(50, 100, 200);
  font-family:"Yesteryear";
  font-size:40px;
  border: 3px solid rgb(50, 100, 200);
  background-color: rgb(255, 0, 150);
  padding:10px;
  border-radius:20px;
}
.button:hover{
  font-size:60px;
}
p{
  color:rgb(50, 100, 200);
  font-family:"Yesteryear";
  font-size:40px;
  background-color: rgb(255, 0, 150);
  padding:10px;
}
